.content--new1 {
  display: none;
}

#section1:target .content--old1 {
  display: none;
}

#section1:target .content--new1 {
  display: block;
}

.content--new2 {
  display: none;
}

#section2:target .content--old2 {
  display: none;
}

#section2:target .content--new2 {
  display: block;
}

.content--new3 {
  display: none;
}

#section3:target .content--old3 {
  display: none;
}

#section3:target .content--new3 {
  display: block;
}

.content--new4 {
  display: none;
}

#section4:target .content--old4 {
  display: none;
}

#section4:target .content--new4 {
  display: block;
}

th {
  background-color: #7B68EE;
  color: white;
}

th, td {
  border-bottom: 1px solid #ddd;
}

tr:hover {background-color: #E6E6FA;}